.game-header {
    /* border: lightgray dashed 1pt; */
    border-top: solid 1pt darkgray;
}
.team {
    font-weight: 700;
    padding: 0px 5px;
}
.quarter {
    border-left: solid 2px gold;
    border-right: solid 2px white;
    font-size: 1rem;
    font-weight: 700;
}
.score {
    font-size: 2.5rem;
    font-weight: 700;
}
#title .title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    padding: 2rem 0rem;
}

/* Extra small (xs) devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .team {
        font-size: .6rem;
    }
    .quarter {
        font-size: .6rem;
        padding: 2rem .8rem;
    }
    .score {
        font-size: 1.2rem;
    }
}
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .team {
        font-size: .9rem;
    }
    .quarter {
        font-size: .9rem;
        padding: 2rem 1rem;                
    }    
    .score {
        font-size: 2rem;
    }
}
/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 2rem 1rem;
    }    
    .score {
        font-size: 2.2rem;
    }
}
/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 1024px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 1.2rem 1rem;
    }    
    .score {
        font-size: 2.4rem;
    }
}
/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 1.2rem 1rem;
    }    
    .score {
        font-size: 2.6rem;
    }
}