.game-header {
    background-color: rgb(158, 19, 22, .90);
    /* background-color: rgb(158, 19, 22); */

}
.game-header img {
    height: 24px;
}
.team {
    font-weight: 700;
    padding: 0px 5px;
}
.quarter {
    border-left: solid 2px rgb(7, 101, 198);
    border-right: solid 2px #357500;
    font-size: 1rem;
    font-weight: 700;
}
.score {
    font-size: 2.5rem;
    font-weight: 700;
}
#boxscores-body .row {
    max-width: 980px;
}
#boxscore-home .row,
#boxscore-away .row {
    max-width: 980px;
}
#boxscore-home .player,
#boxscore-away .player {
    text-align: left!important;
}
#boxscore-home td,
#boxscore-away td,
#boxscore-home thead,
#boxscore-away thead {
    text-align: center;
}
#boxscore-home .boxscores-tbl-header {
    background-color: #0765c6;
}
#boxscore-home .boxscores-tbl-header img {
    height: 60px;
    margin: 15px 10px;
}
thead {
    font-size: 12px;
}
.table> tbody > tr > td {
    font-size: 12px;
}
#boxscore-away .boxscores-tbl-header {
    background-color: #048b27;
}
#boxscore-away .boxscores-tbl-header img {
    height: 60px;
    margin: 15px 10px;
}
.boxscores-tbl-footer {
    margin: 20px 0px 30px;
}
.coach, .asst-coach {
    width: 245px;   
    padding: 0px 10px;
}
.coach-lbl, .asst-coach-lbl {
    font-size: 18px;
    font-weight: 700;
}
.coach-val, .asst-coach-val {
    font-size: 14px;
}
/* Extra small (xs) devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .team {
        font-size: .6rem;
    }
    .quarter {
        font-size: .6rem;
        padding: 2rem .8rem;
    }
    .score {
        font-size: 1.2rem;
    }
}
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .team {
        font-size: .9rem;
    }
    .quarter {
        font-size: .9rem;
        padding: 2rem 1rem;                
    }    
    .score {
        font-size: 2rem;
    }
}
/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 2rem 1rem;
    }    
    .score {
        font-size: 2.2rem;
    }
}
/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 1024px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 1.2rem 1rem;
    }    
    .score {
        font-size: 2.4rem;
    }
}
/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .team {
        font-size: 1rem;
    }
    .quarter {
        font-size: 1rem;
        padding: 1.2rem 1rem;
    }    
    .score {
        font-size: 2.6rem;
    }
}