.navbar-default {
    background-color: #010101;
  }
  .navbar-default .navbar-brand {
    color: #d7e2e9;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #A2A2A5;
  }
  .navbar-default .navbar-text {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav > li > a {
    color: #d7e2e9;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F8F8F8;
    /* color: #010101; */
    /* border-bottom: red solid 2px; */
    background-color: #BF0B29;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #010101;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #EDE5E6;
    background-color: #425766;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #010101;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #EDE5E6;
    background-color: #425766;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #EDE5E6;
    background-color: #425766;
  }
  .navbar-default .navbar-toggle {
    border-color: #425766;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #425766;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #d7e2e9;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #d7e2e9;
  }
  .navbar-default .navbar-link {
    color: #d7e2e9;
  }
  .navbar-default .navbar-link:hover {
    color: #EDE5E6;
  }
  
 /* // this is a black icon with 50% opacity
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
} */
/* this is a white icon with 50% opacity */
/* .navbar-light .navbar-toggler span.navbar-toggler-icon {
  background-image: url(“data:image/svg+xml;charset=utf8,%3Csvg viewBox=’0 0 32 32′ 
  xmlns=’http://www.w3.org/2000/svg’%3E%3Cpath stroke=’rgba(216,24,210, 0.7)’ 
  stroke-width=’2′ stroke-linecap=’round’ 
  stroke-miterlimit=’10’ d=’M4 8h24M4 16h24M4 24h24’/%3E%3C/svg%3E”);
}  */
  /* @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #d7e2e9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #EDE5E6;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #EDE5E6;
        background-color: #425766;
    }
} */