@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #505962;
  width: 100%;
  height: 100%;
}
.hs-no-sidebar {
  max-width: 980px;
  padding: 0px;
}

/* ===== STYLE GUIDE ===== */
body {
  font-family: 'Roboto', sans-serif;
  color: #505962;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: #010101;
}
ul {
  margin: 0;
}
td {
  font-family: 'Lato', sans-serif;
}
a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #010101;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #777777;
}
.hs-text-light,
.hs-text-dark:hover {
  color: white;        
}
.hs-text-dark,
.hs-text-light:hover {
  color: #777777;        
}
.hs-text-caption {
  font-size: 14px;
}
.hs-text-footer {
  font-size: 12px;
}
.hs-btn-primary {
  color: #A2A2A5;
  border: #A2A2A5 1pt solid;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: center;
  min-width: 144px;
  height: 42px;
  line-height: 42px;
  padding-left: 16px;
  padding-right: 16px;
}
.hs-btn-secondary {
  color: white;
  border: #010101 1pt solid;
  border-radius: 8px;
  background-color: #010101;
  display: block;
  text-align: center;
  min-width: 144px;
  height: 42px;
  line-height: 42px;
  padding-left: 16px;
  padding-right: 16px;
}
.hs-btn-primary.sm,
.hs-btn-secondary.sm {
  height: 42px;
  line-height: 42px;
}
.hs-btn-primary.md,
.hs-btn-secondary.md {
  height: 60px;
  line-height: 60px;
}
.hs-btn-primary.lg,
.hs-btn-secondary.lg {
  height: 72px;
  line-height: 72px;
}
.hs-btn-primary:hover,
.hs-btn.primary.sm:hover,
.hs-btn.primary.md:hover,
.hs-btn.primary.lg:hover {
  color: #010101;
  border: #010101 1pt solid;
}
.hs-btn-secondary:hover,
.hs-btn.secondary.sm:hover,
.hs-btn.secondary.md:hover,
.hs-btn.secondary.lg:hover {
  color: #010101;
  border: #010101 1pt solid;
  background-color: transparent;
}
.hs-full-container {
  border: 1px dashed black;
  margin-top: 24px;
}
.hs-container {
  /* border: 1px dashed black; */
  height: 100%;
  max-width: 980px;
  margin: auto;
  margin-top: 24px;
}
.hs-section {
  border: red dashed 1px;
  margin-bottom: 24px;        
}
/* .hs-section div {
  border: green dashed 1px;      
} */
.hs-page-title {
  border-bottom: #010101 solid 3px;
  padding-left: 16px;
}
.hs-section-title {
  /* border-bottom: #777777 solid 2px; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  /* background-color: var(--light); */
  background-color: var(--hs-red-maple);
  color: white;
}
.hs-label {
  font-size: 14.4px;
  color: #010101;
  padding-left: 0;
}
.nav-tabs .nav-link.active {
  background-color: var(--hs-red-maple);
  border-bottom: var(--hs-red-maple);
  color: white;
  border: 1px solid var(--hs-red-maple);
}
:root {
  --hs-black: #010101;
  --hs-red: #BF0B29;
  --hs-red-maple: #D10000;
}
/* ===== STYLE GUIDE ===== */