@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #505962;
  width: 100%;
  height: 100%;
  background-color: var(--hs-red);
}
.hs-no-sidebar {
  max-width: 980px;
  padding: 0px;
}

/* ===== STYLE GUIDE ===== */
body {
  font-family: 'Roboto', sans-serif;
  color: #505962;
}

/* Table */
thead {
  font-size: 12px;
  background-color: var(--hs-black);
  color: white;
}
.table> tbody > tr > td {
  font-size: 12px;
}
td,
thead {
  text-align: center;
}
td a {
  font-size: 12px;
}
td,
th {
  padding: 9px 6px!important;
}
td.player,
th.player {
  text-align: left;
  white-space: nowrap;
}
tfoot>tr>td {
  font-size: 12px;
  color: var(--hs-black);
}
.hs-table-header {
  background-color: var(--hs-dark-gray); 
  margin-bottom: 0px;
  height: 90px;
}
.hs-table-header-title {
  color: white;
  padding-left: 16px;
}
.hs-table-container {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
/* Table */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: #010101;
}
ul {
  margin: 0;
}
td {
  font-family: 'Lato', sans-serif;
}
a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #010101;  
  transition: all 0.3s ease 0s;
}
a:hover {
  text-decoration: none;
  color: #777777;
}
.hs-text-light,
.hs-text-dark:hover {
  color: white;        
}
.hs-text-dark,
.hs-text-light:hover {
  color: #777777;        
}
.hs-text-caption {
  font-size: 14px;
}
.hs-text-footer {
  font-size: 12px;
}
.hs-btn-primary {
  color: #A2A2A5;
  border: #A2A2A5 1pt solid;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: center;
  min-width: 144px;
  height: 42px;
  line-height: 42px;
  padding-left: 16px;
  padding-right: 16px;
}
.hs-btn-secondary {
  color: white;
  border: #010101 1pt solid;
  border-radius: 8px;
  background-color: #010101;
  display: block;
  text-align: center;
  min-width: 144px;
  height: 42px;
  line-height: 42px;
  padding-left: 16px;
  padding-right: 16px;
}
.hs-btn-primary.sm,
.hs-btn-secondary.sm {
  height: 42px;
  line-height: 42px;
}
.hs-btn-primary.md,
.hs-btn-secondary.md {
  height: 60px;
  line-height: 60px;
}
.hs-btn-primary.lg,
.hs-btn-secondary.lg {
  height: 72px;
  line-height: 72px;
}
.hs-btn-primary:hover,
.hs-btn.primary.sm:hover,
.hs-btn.primary.md:hover,
.hs-btn.primary.lg:hover {
  color: #010101;
  border: #010101 1pt solid;
}
.hs-btn-secondary:hover,
.hs-btn.secondary.sm:hover,
.hs-btn.secondary.md:hover,
.hs-btn.secondary.lg:hover {
  color: #010101;
  border: #010101 1pt solid;
  background-color: transparent;
}
.hs-full-container {
  border: 1px dashed black;
  margin-top: 24px;
}
.hs-container {
  /* border: 1px dashed black; */
  height: 100%;
  max-width: 980px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: var(--box-shadow);
}
.hs-nav-container {
  /* border: 1px dashed green; */
  width: 100%;
  max-width: 980px;
  /* margin: 30px 16px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
}
.hs-nav-wrapper {
  border: 1px dashed black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.hs-section-header {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;  
}
.hs-section-title {
  color: var(--hs-dark-gray);
  margin: 0px;
}
.hs-section-footer {
  border-top: 3px var(--hs-crimson) solid;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: var(--light);
}
/* .hs-section div {
  border: green dashed 1px;      
} */
.hs-page-title {
  border-bottom: #010101 solid 3px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.hs-label {
  font-size: 14.4px;
  color: #010101;
  padding-left: 0;
}
.nav-tabs .nav-link.active {
  background-color: var(--hs-crimson);
  border-bottom: var(--hs-crimson);
  color: white;
  border: 1px solid var(--hs-crimson);
}
.hs-team-logo {
  height: 30px;
}
/* Player Card */
.hs-player-card {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
}    
.hs-player-photo {
  padding: 12px;
}    
.hs-player-info {
  border-left: 2px solid var(--hs-crimson);
  padding: 12px;
}
.hs-team-logo-xs {
  height: 30px;
}
.hs-team-logo-sm {
  height: 60px;
}
.hs-team-logo-md {
  height: 90px;
}
.hs-team-logo-lg {
  height: 120px;
}
.hs-team-logo-xl {
  height: 150px;
}
.hs-player-photo-xs {
  height: 30px;
}
.hs-player-photo-sm {
  height: 60px;
}
.hs-player-photo-md {
  height: 90px;
}
.hs-player-photo-lg {
  height: 120px;
}
.hs-player-photo-xl {
  width: 106px;
  height: 150px;  
}
/* Player Card */
:root {
  --hs-black: #010101;
  /* --hs-red: #BF0B29; */
  --hs-red: #a70729;
  --hs-red-maple: #D10000;
  --hs-apple: #A91B0D;
  --hs-crimson: #B90E0A;
  --hs-dark-gray: #252525;
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --hs-ball: #CF5300;
  --hs-transparent: rgba(0, 0, 0, 0.6);
}
/* ===== STYLE GUIDE ===== */